Repository HIRO-MicroDataCenters-BV/placement-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi, generate_client, mypy, isort, flake8, black

.pre-commit-config.yaml:

default_language_version:
  python: python3.12

default_stages: [commit, push]

repos:
- repo: https://github.com/norwoodj/helm-docs
  rev:  "v1.14.2"
  hooks:
    - id: helm-docs
      args:
        # Make the tool search for charts only under the `charts` directory
        - --chart-search-root=./charts

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    exclude: packages/placement-client/.*|.*\.md|README.md
  - id: end-of-file-fixer
    exclude: packages/placement-client/.*
  - id: check-yaml
    exclude: ./charts
  - id: check-added-large-files

- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.11.0
  hooks:
  - id: shellcheck

- repo: local
  hooks:
    - id: openapi
      name: openapi
      files: ^src/placement_controller/api/
      entry: uv run python ./tools/extract_openapi.py placement_controller.api.app:app --app-dir ./src --out ./packages/placement-api/openapi.yaml --app_version_file ./VERSION
      language: system
      types: [python]
      pass_filenames: false

- repo: local
  hooks:
    - id: generate_client
      name: generate client
      files: packages/placement-api/openapi.yaml
      entry: openapi-python-client generate --overwrite --path ./packages/placement-api/openapi.yaml --meta=uv --output-path ./packages/placement-client --config=./tools/openapi-python-client.yaml --custom-template-path=./tools/templates
      language: system
      types: [python]
      pass_filenames: false

- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: ^src/
      entry: uv run mypy
      language: system
      types: [python]

- repo: local
  hooks:
    - id: isort
      name: isort
      files: ^src/
      entry: uv run isort
      language: system
      types: [python]

- repo: local
  hooks:
    - id: flake8
      name: flake8
      files: ^src/
      entry: uv run flake8 --config ./.flake8
      language: system
      types: [python]

- repo: local
  hooks:
    - id: black
      name: black
      files: ^src/
      entry: uv run black
      language: system
      types: [python]

EDGE-304 improving current API
  packages/placement-api/openapi.yaml
  src/placement_controller/api/app.py
Due: openapi, mypy, isort, flake8, black

EDGE-304 improving current API
  packages/placement-client/placement_client/api/default/list_applications.py
  packages/placement-client/placement_client/api/default/set_owner.py
  packages/placement-client/placement_client/api/default/set_placements.py
  packages/placement-client/placement_client/api/default/status.py
Due: none

Publish placement-controller-0.1.0-dev.56.EDGE-304-open-ap.b066ecb2.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.1.0-dev.56.EDGE-304-open-ap.b066ecb2.tgz
Due: none

EDGE-304 application bid API
  .pre-commit-config.yaml
  packages/placement-api/openapi.yaml
  packages/placement-client/placement_client/api/default/application_bid.py
  packages/placement-client/placement_client/models/__init__.py
  packages/placement-client/placement_client/models/bid_criteria.py
  packages/placement-client/placement_client/models/bid_request_model.py
  packages/placement-client/placement_client/models/bid_response_model.py
  packages/placement-client/placement_client/models/bid_status.py
  packages/placement-client/placement_client/models/metric.py
  packages/placement-client/placement_client/models/metric_unit.py
  packages/placement-client/placement_client/models/metric_value.py
  src/placement_controller/api/app.py
  src/placement_controller/api/model.py
Due: openapi, mypy, isort, flake8, black

Publish placement-controller-0.1.0-dev.57.EDGE-304-open-ap.8fa54e2e.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.1.0-dev.57.EDGE-304-open-ap.8fa54e2e.tgz
Due: none

EDGE-304 minor fixes
  packages/placement-api/openapi.yaml
  packages/placement-client/placement_client/models/bid_response_model.py
  src/placement_controller/api/app.py
  src/placement_controller/api/model.py
Due: openapi, mypy, isort, flake8, black

Publish placement-controller-0.1.0-dev.58.EDGE-304-open-ap.e2659f87.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.1.0-dev.58.EDGE-304-open-ap.e2659f87.tgz
Due: none

Publish placement-controller-0.1.0-dev.59.main.29acb6f9.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.1.0-dev.59.main.29acb6f9.tgz
Due: none

EDGE-304 application api
  .pre-commit-config.yaml
  packages/application-api/openapi.yaml
  packages/application-api/pyproject.toml
  packages/application-client/.gitignore
  packages/application-client/README.md
  packages/application-client/application_client/__init__.py
  packages/application-client/application_client/api/__init__.py
  packages/application-client/application_client/api/default/__init__.py
  packages/application-client/application_client/api/default/get_application_status.py
  packages/application-client/application_client/client.py
  packages/application-client/application_client/errors.py
  packages/application-client/application_client/models/__init__.py
  packages/application-client/application_client/models/application_report.py
  packages/application-client/application_client/models/log_info.py
  packages/application-client/application_client/models/pod_event.py
  packages/application-client/application_client/models/pod_info.py
  packages/application-client/application_client/models/workload_status.py
  packages/application-client/application_client/py.typed
  packages/application-client/application_client/types.py
  packages/application-client/placement_client/__init__.py
  packages/application-client/placement_client/api/__init__.py
  packages/application-client/placement_client/api/default/__init__.py
  packages/application-client/placement_client/api/default/get_application_status.py
  packages/application-client/placement_client/client.py
  packages/application-client/placement_client/errors.py
  packages/application-client/placement_client/models/__init__.py
  packages/application-client/placement_client/models/application_report.py
  packages/application-client/placement_client/models/log_info.py
  packages/application-client/placement_client/models/pod_event.py
  packages/application-client/placement_client/models/pod_info.py
  packages/application-client/placement_client/models/workload_status.py
  packages/application-client/placement_client/py.typed
  packages/application-client/placement_client/types.py
  packages/application-client/pyproject.toml
  pyproject.toml
  tools/application-client.yaml
  tools/placement-client.yaml
Due: none

EDGE-304 application api
  packages/application-client/placement_client/__init__.py
  packages/application-client/placement_client/api/__init__.py
  packages/application-client/placement_client/api/default/__init__.py
  packages/application-client/placement_client/api/default/get_application_status.py
  packages/application-client/placement_client/client.py
  packages/application-client/placement_client/errors.py
  packages/application-client/placement_client/models/__init__.py
  packages/application-client/placement_client/models/application_report.py
  packages/application-client/placement_client/models/log_info.py
  packages/application-client/placement_client/models/pod_event.py
  packages/application-client/placement_client/models/pod_info.py
  packages/application-client/placement_client/models/workload_status.py
  packages/application-client/placement_client/py.typed
  packages/application-client/placement_client/types.py
Due: none

Publish placement-controller-0.1.0-dev.60.EDGE-304-open-ap.2449d61d.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.1.0-dev.60.EDGE-304-open-ap.2449d61d.tgz
Due: none

EDGE-304 application api
  packages/application-api/openapi.yaml
  packages/application-client/application_client/models/application_report.py
  packages/application-client/application_client/models/pod_info.py
Due: none

EDGE-304 application api
  uv.lock
Due: none

Publish placement-controller-0.1.0-dev.62.EDGE-304-open-ap.b375d70c.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.1.0-dev.62.EDGE-304-open-ap.b375d70c.tgz
Due: none

EDGE-304 application api
  packages/application-api/CHANGELOG.md
  packages/application-client/CHANGELOG.md
Due: none

Publish placement-controller-0.1.0-dev.64.EDGE-304-open-ap.a2d7c246.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.1.0-dev.64.EDGE-304-open-ap.a2d7c246.tgz
Due: none

Publish placement-controller-0.1.0-dev.65.main.d1ce2a5e.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.1.0-dev.65.main.d1ce2a5e.tgz
Due: none

EDGE-304 application api - get application spec
  packages/application-api/openapi.yaml
  packages/application-client/application_client/api/default/get_application_spec.py
  packages/application-client/application_client/models/__init__.py
  packages/application-client/application_client/models/application_report.py
  packages/application-client/application_client/models/application_spec.py
  packages/application-client/application_client/models/pod_info.py
  packages/application-client/application_client/models/pod_resources.py
  packages/application-client/application_client/models/pod_resources_limits.py
  packages/application-client/application_client/models/pod_resources_requests.py
  packages/application-client/application_client/models/pvc_resources.py
  packages/application-client/application_client/models/resource_id.py
Due: none

Publish placement-controller-0.1.0-dev.65.EDGE-304-open-ap.7844b8e8.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.1.0-dev.65.EDGE-304-open-ap.7844b8e8.tgz
Due: none

Publish placement-controller-0.1.0-dev.67.main.db108f9a.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.1.0-dev.67.main.db108f9a.tgz
Due: none

Publish placement-controller-0.2.0.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0.tgz
Due: none

EDGE-304 updated application spec
  packages/application-api/openapi.yaml
Due: none

EDGE-304 updated application spec
  packages/application-client/application_client/api/default/get_application_spec.py
  packages/application-client/application_client/api/default/get_application_status.py
  packages/application-client/application_client/models/__init__.py
  packages/application-client/application_client/models/application_report.py
  packages/application-client/application_client/models/application_spec.py
  packages/application-client/application_client/models/error_response.py
  packages/application-client/application_client/models/error_response_details_item.py
  packages/application-client/application_client/models/pod_info.py
  packages/application-client/application_client/models/pod_resources.py
  packages/application-client/application_client/models/pvc_resources.py
  packages/application-client/application_client/models/pvc_resources_limits.py
  packages/application-client/application_client/models/pvc_resources_requests.py
Due: none

Publish placement-controller-0.2.0-dev.2.EDGE-308-api-bid.7559e36f.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.2.EDGE-308-api-bid.7559e36f.tgz
Due: none

EDGE-308 Bid Request Spec updated with error response
  packages/placement-api/openapi.yaml
  packages/placement-client/placement_client/api/default/application_bid.py
  packages/placement-client/placement_client/models/__init__.py
  packages/placement-client/placement_client/models/error_response.py
  packages/placement-client/placement_client/models/error_response_details_item.py
Due: none

EDGE-308 resource management
  src/placement_controller/resources/__init__.py
Due: mypy, isort, flake8, black

EDGE-308 Bid Request Spec updated with error response
  packages/placement-api/openapi.yaml
  packages/placement-client/placement_client/models/__init__.py
  packages/placement-client/placement_client/models/error_response.py
  packages/placement-client/placement_client/models/error_response_details_item.py
  src/placement_controller/api/app.py
  src/placement_controller/api/model.py
Due: openapi, mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.5.EDGE-308-api-bid.6bca559d.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.5.EDGE-308-api-bid.6bca559d.tgz
Due: none

EDGE-308 adding resource management to the application context
  src/placement_controller/api/app.py
  src/placement_controller/context.py
  src/placement_controller/resources/resource_managment.py
Due: openapi, mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.6.EDGE-308-api-bid.bdecd08c.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.6.EDGE-308-api-bid.bdecd08c.tgz
Due: none

EDGE-308 resource tracking
  src/placement_controller/context.py
  src/placement_controller/k8s/__init__.py
  src/placement_controller/k8s/object_cache.py
  src/placement_controller/resources/resource_managment.py
  src/placement_controller/resources/resource_tracking.py
  src/placement_controller/resources/types.py
Due: mypy, isort, flake8, black

EDGE-308 test placeholders
  src/placement_controller/k8s/object_cache.py
  src/placement_controller/k8s/test_object_cache.py
  src/placement_controller/resources/test_resource_management.py
  src/placement_controller/resources/test_resource_tracking.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.8.EDGE-308-api-bid.fdef0a5f.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.8.EDGE-308-api-bid.fdef0a5f.tgz
Due: none

EDGE-308 object pool
  src/placement_controller/clients/k8s/fake_client.py
  src/placement_controller/clients/k8s/resource.py
  src/placement_controller/k8s/object_cache.py
  src/placement_controller/k8s/object_pool.py
  src/placement_controller/k8s/test_object_cache.py
  src/placement_controller/k8s/test_object_pool.py
  src/placement_controller/resources/node.py
  src/placement_controller/resources/pod.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.9.EDGE-308-api-bid.36ddb779.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.9.EDGE-308-api-bid.36ddb779.tgz
Due: none

EDGE-308 resource tracking
  src/placement_controller/k8s/test_object_pool.py
  src/placement_controller/resources/placement.py
  src/placement_controller/resources/resource_managment.py
  src/placement_controller/resources/resource_tracking.py
  src/placement_controller/resources/test_placement.py
  src/placement_controller/resources/test_resource_tracking.py
  src/placement_controller/resources/types.py
Due: mypy, isort, flake8, black

EDGE-308 NodeInfo
  src/placement_controller/async_fixture.py
  src/placement_controller/k8s/test_object_pool.py
  src/placement_controller/resource_fixture.py
  src/placement_controller/resources/node.py
  src/placement_controller/resources/placement.py
  src/placement_controller/resources/pod.py
  src/placement_controller/resources/resource_tracking.py
  src/placement_controller/resources/test_placement.py
  src/placement_controller/resources/test_resource_tracking.py
  src/placement_controller/resources/types.py
Due: mypy, isort, flake8, black

EDGE-308 fixing context
  packages/placement-api/openapi.yaml
  packages/placement-client/placement_client/models/bid_request_model.py
  src/placement_controller/api/model.py
  src/placement_controller/context.py
  src/placement_controller/resources/test_resource_management.py
Due: openapi, mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.12.EDGE-308-api-bid.9d4fcd7e.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.12.EDGE-308-api-bid.9d4fcd7e.tgz
Due: none

EDGE-308 NodeInfo
  src/placement_controller/resource_fixture.py
  src/placement_controller/resources/node.py
  src/placement_controller/resources/pod.py
  src/placement_controller/resources/test_node.py
  src/placement_controller/resources/types.py
Due: mypy, isort, flake8, black
