Repository HIRO-MicroDataCenters-BV/placement-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi, generate_client, mypy, isort, flake8, black

openapi:
  name: openapi
  entry: uv run python ./tools/extract_openapi.py placement_controller.api.app:app --app-dir ./src --out ./packages/placement-api/openapi.yaml --app_version_file ./VERSION
  language: system
  pass_filenames: false

generate_client:
  name: generate client
  entry: openapi-python-client generate --overwrite --path ./packages/placement-api/openapi.yaml --meta=uv --output-path ./packages/placement-client --config=./tools/openapi-python-client.yaml --custom-template-path=./tools/templates
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system

isort:
  name: isort
  entry: uv run isort
  language: system

flake8:
  name: flake8
  entry: uv run flake8 --config ./.flake8
  language: system

black:
  name: black
  entry: uv run black
  language: system

Publish placement-controller-0.2.0-dev.38.EDGE-287-typical.5c7a774a.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.38.EDGE-287-typical.5c7a774a.tgz
Due: none

EDGE-287 Membership watcher
  src/placement_controller/membership/test_watcher.py
  src/placement_controller/membership/types.py
  src/placement_controller/membership/watcher.py
  src/placement_controller/resource_fixture.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.39.EDGE-287-typical.3541ba3f.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.39.EDGE-287-typical.3541ba3f.tgz
Due: none

EDGE-287 GetSpecJob
  src/placement_controller/jobs/fake_application_controller.py
  src/placement_controller/jobs/fake_server.py
  src/placement_controller/jobs/get_spec_action.py
  src/placement_controller/jobs/test_get_spec_action.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.40.EDGE-287-typical.d0df12ab.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.40.EDGE-287-typical.d0df12ab.tgz
Due: none

EDGE-287 FakePlacementController
  src/placement_controller/jobs/fake_placement_server.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.41.EDGE-287-typical.c1e83ed5.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.41.EDGE-287-typical.c1e83ed5.tgz
Due: none

EDGE-287 BidAction
  src/placement_controller/jobs/bid_action.py
  src/placement_controller/jobs/fake_application_controller.py
  src/placement_controller/jobs/fake_placement_server.py
  src/placement_controller/jobs/fake_server.py
  src/placement_controller/jobs/test_get_spec_action.py
  src/placement_controller/zone/__init__.py
  src/placement_controller/zone/types.py
  src/placement_controller/zone/zone_api_factory.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.42.EDGE-287-typical.f42ed318.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.42.EDGE-287-typical.f42ed318.tgz
Due: none

EDGE-287 BidActionTest
  src/placement_controller/jobs/test_bid_action.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.45.EDGE-287-typical.aac2c2c5.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.45.EDGE-287-typical.aac2c2c5.tgz
Due: none

EDGE-287 Applications
  src/placement_controller/core/application.py
  src/placement_controller/core/applications.py
  src/placement_controller/core/scheduling_queue.py
  src/placement_controller/core/test_scheduling_queue.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.46.EDGE-287-typical.480c14e5.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.46.EDGE-287-typical.480c14e5.tgz
Due: none

EDGE-287 Scheduling queue
  src/placement_controller/core/context.py
  src/placement_controller/core/fsm.py
  src/placement_controller/core/next_state_result.py
  src/placement_controller/core/scheduling_queue.py
  src/placement_controller/jobs/executor.py
  src/placement_controller/jobs/types.py
  src/placement_controller/resources/trace_log.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.47.EDGE-287-typical.1a6efacf.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.47.EDGE-287-typical.1a6efacf.tgz
Due: none

EDGE-287 Applications
  src/placement_controller/core/test_applications.py
Due: mypy, isort, flake8, black

EDGE-287 AnyApplication test fixture
  src/placement_controller/core/scheduling_queue.py
  src/placement_controller/core/test_applications.py
  src/placement_controller/resource_fixture.py
Due: mypy, isort, flake8, black

EDGE-287 Scheduling context
  src/placement_controller/core/context.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.50.EDGE-287-typical.b169a086.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.50.EDGE-287-typical.b169a086.tgz
Due: none

EDGE-287 k8s test client unification
  src/placement_controller/clients/k8s/client_impl.py
  src/placement_controller/clients/k8s/test_fake_client.py
  src/placement_controller/resource_fixture.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.51.EDGE-287-typical.7bb9c036.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.51.EDGE-287-typical.7bb9c036.tgz
Due: none

EDGE-287 FSM
  src/placement_controller/context.py
  src/placement_controller/core/application.py
  src/placement_controller/core/applications.py
  src/placement_controller/core/context.py
  src/placement_controller/core/scheduling_queue.py
  src/placement_controller/core/test_applications.py
  src/placement_controller/core/test_fsm.py
  src/placement_controller/core/test_scheduling_queue.py
  src/placement_controller/core/types.py
  src/placement_controller/membership/test_watcher.py
  src/placement_controller/membership/watcher.py
Due: mypy, isort, flake8, black

EDGE-287 emit event
  src/placement_controller/clients/k8s/client.py
  src/placement_controller/clients/k8s/client_impl.py
  src/placement_controller/clients/k8s/fake_client.py
Due: mypy, isort, flake8, black

EDGE-287 FSM
  src/placement_controller/context.py
  src/placement_controller/context_builder.py
  src/placement_controller/core/applications.py
  src/placement_controller/core/context.py
  src/placement_controller/core/fsm.py
  src/placement_controller/core/scheduling_queue.py
  src/placement_controller/core/types.py
  src/placement_controller/jobs/bid_action.py
  src/placement_controller/jobs/executor.py
  src/placement_controller/jobs/get_spec_action.py
  src/placement_controller/jobs/test_bid_action.py
  src/placement_controller/jobs/test_get_spec_action.py
  src/placement_controller/jobs/types.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.54.EDGE-287-typical.17f0dec4.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.54.EDGE-287-typical.17f0dec4.tgz
Due: none

EDGE-287 FSM
  src/placement_controller/context.py
  src/placement_controller/context_builder.py
  src/placement_controller/core/applications.py
  src/placement_controller/core/context.py
  src/placement_controller/core/fsm.py
  src/placement_controller/core/scheduling_queue.py
  src/placement_controller/core/test_applications.py
  src/placement_controller/core/types.py
  src/placement_controller/jobs/bid_action.py
  src/placement_controller/jobs/executor.py
  src/placement_controller/jobs/get_spec_action.py
  src/placement_controller/jobs/test_bid_action.py
  src/placement_controller/jobs/test_executor.py
  src/placement_controller/jobs/test_get_spec_action.py
  src/placement_controller/jobs/types.py
  src/placement_controller/test_context.py
Due: mypy, isort, flake8, black

EDGE-287 FSM
  src/placement_controller/core/fsm.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.57.EDGE-287-typical.8e5f487a.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.57.EDGE-287-typical.8e5f487a.tgz
Due: none

EDGE-287 FSM
  src/placement_controller/core/types.py
Due: mypy, isort, flake8, black

EDGE-287 SchedulingContext improvements
  src/placement_controller/context_builder.py
  src/placement_controller/core/applications.py
  src/placement_controller/core/context.py
  src/placement_controller/core/test_applications.py
  src/placement_controller/jobs/test_bid_action.py
  src/placement_controller/jobs/test_get_spec_action.py
  src/placement_controller/jobs/types.py
  src/placement_controller/test_context.py
Due: mypy, isort, flake8, black

EDGE-287 set placement action
  src/placement_controller/jobs/placement_action.py
  src/placement_controller/jobs/test_executor.py
  src/placement_controller/jobs/test_placement_action.py
  src/placement_controller/resource_fixture.py
Due: mypy, isort, flake8, black

EDGE-287 Decision action
  src/placement_controller/jobs/decision_action.py
  src/placement_controller/jobs/test_decision_action.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.61.EDGE-287-typical.997496aa.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.61.EDGE-287-typical.997496aa.tgz
Due: none

EDGE-287 Decision action
  src/placement_controller/api/model.py
  src/placement_controller/jobs/decision_action.py
  src/placement_controller/jobs/test_decision_action.py
Due: openapi, mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.62.EDGE-287-typical.98a03e4f.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.62.EDGE-287-typical.98a03e4f.tgz
Due: none

EDGE-287 Scheduling Queue
  packages/placement-api/openapi.yaml
  packages/placement-client/placement_client/api/default/list_scheduling_state.py
  packages/placement-client/placement_client/models/__init__.py
  packages/placement-client/placement_client/models/application_state.py
  packages/placement-client/placement_client/models/scheduling_entry.py
  src/placement_controller/api/app.py
  src/placement_controller/api/model.py
  src/placement_controller/core/applications.py
  src/placement_controller/core/context.py
  src/placement_controller/core/scheduling_queue.py
Due: openapi, mypy, isort, flake8, black

EDGE-287 FSM
  src/placement_controller/core/fsm.py
  src/placement_controller/core/test_fsm.py
Due: mypy, isort, flake8, black

EDGE-287 FSM
  src/placement_controller/core/context.py
  src/placement_controller/core/fsm.py
Due: mypy, isort, flake8, black

EDGE-287 FSM
  src/placement_controller/core/fsm.py
  src/placement_controller/core/test_applications.py
  src/placement_controller/core/test_fsm.py
  src/placement_controller/jobs/bid_action.py
Due: mypy, isort, flake8, black

Path conditions:
  openapi: any of: ^src/placement_controller/api/ and \.py$
  generate_client: any of: packages/placement-api/openapi.yaml and \.py$
  mypy: any of: ^src/ and \.py$
  isort: any of: ^src/ and \.py$
  flake8: any of: ^src/ and \.py$
  black: any of: ^src/ and \.py$
