Repository HIRO-MicroDataCenters-BV/placement-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi, generate_client, mypy, isort, flake8, black

.pre-commit-config.yaml:

default_language_version:
  python: python3.12

default_stages: [commit, push]

repos:
- repo: https://github.com/norwoodj/helm-docs
  rev:  "v1.14.2"
  hooks:
    - id: helm-docs
      args:
        # Make the tool search for charts only under the `charts` directory
        - --chart-search-root=./charts

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    exclude: packages/placement-client/.*|.*\.md|README.md
  - id: end-of-file-fixer
    exclude: packages/placement-client/.*
  - id: check-yaml
    exclude: ./charts
  - id: check-added-large-files

- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.11.0
  hooks:
  - id: shellcheck

- repo: local
  hooks:
    - id: openapi
      name: openapi
      files: ^src/placement_controller/api/
      entry: uv run python ./tools/extract_openapi.py placement_controller.api.app:app --app-dir ./src --out ./packages/placement-api/openapi.yaml --app_version_file ./VERSION
      language: system
      types: [python]
      pass_filenames: false

- repo: local
  hooks:
    - id: generate_client
      name: generate client
      files: packages/placement-api/openapi.yaml
      entry: openapi-python-client generate --overwrite --path ./packages/placement-api/openapi.yaml --meta=uv --output-path ./packages/placement-client --config=./tools/openapi-python-client.yaml --custom-template-path=./tools/templates
      language: system
      types: [python]
      pass_filenames: false

- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: ^src/
      entry: uv run mypy
      language: system
      types: [python]

- repo: local
  hooks:
    - id: isort
      name: isort
      files: ^src/
      entry: uv run isort
      language: system
      types: [python]

- repo: local
  hooks:
    - id: flake8
      name: flake8
      files: ^src/
      entry: uv run flake8 --config ./.flake8
      language: system
      types: [python]

- repo: local
  hooks:
    - id: black
      name: black
      files: ^src/
      entry: uv run black
      language: system
      types: [python]

Publish placement-controller-0.2.0-dev.13.EDGE-308-api-bid.ac34c117.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.13.EDGE-308-api-bid.ac34c117.tgz
Due: none

EDGE-308 Resource Tracking
  src/placement_controller/async_fixture.py
  src/placement_controller/clients/k8s/fake_client.py
  src/placement_controller/clients/k8s/resource.py
  src/placement_controller/k8s/object_pool.py
  src/placement_controller/resources/resource_tracking.py
  src/placement_controller/resources/test_resource_tracking.py
  src/placement_controller/resources/types.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.14.EDGE-308-api-bid.962a6c37.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.14.EDGE-308-api-bid.962a6c37.tgz
Due: none

EDGE-308 bid request model refinement
  packages/placement-api/openapi.yaml
  src/placement_controller/api/model.py
  src/placement_controller/clients/k8s/resource.py
  src/placement_controller/resources/placement.py
  src/placement_controller/resources/resource_managment.py
Due: openapi, mypy, isort, flake8, black

EDGE-308 resource management
  src/placement_controller/resources/test_resource_management.py
Due: mypy, isort, flake8, black

EDGE-308 Greedy Placement
  src/placement_controller/resources/placement.py
  src/placement_controller/resources/test_placement.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.17.EDGE-308-api-bid.05d687b8.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.17.EDGE-308-api-bid.05d687b8.tgz
Due: none

EDGE-308 Greedy Placement
  packages/placement-api/openapi.yaml
  packages/placement-client/placement_client/models/bid_criteria.py
  src/placement_controller/api/model.py
  src/placement_controller/resource_fixture.py
  src/placement_controller/resources/placement.py
  src/placement_controller/resources/resource_managment.py
  src/placement_controller/resources/test_node.py
  src/placement_controller/resources/test_placement.py
  src/placement_controller/resources/trace_log.py
  src/placement_controller/resources/types.py
Due: openapi, mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.18.EDGE-308-api-bid.b4a40c1b.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.18.EDGE-308-api-bid.b4a40c1b.tgz
Due: none

EDGE-308 Greedy Placement
  src/placement_controller/api/model.py
  src/placement_controller/resources/placement.py
  src/placement_controller/resources/test_placement.py
  src/placement_controller/resources/trace_log.py
  src/placement_controller/resources/types.py
Due: openapi, mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.19.EDGE-308-api-bid.00b29b6f.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.19.EDGE-308-api-bid.00b29b6f.tgz
Due: none

EDGE-308 Resource Management
  src/placement_controller/api/app.py
  src/placement_controller/resource_fixture.py
  src/placement_controller/resources/resource_managment.py
  src/placement_controller/resources/test_placement.py
  src/placement_controller/resources/test_resource_management.py
  src/placement_controller/resources/test_resource_tracking.py
Due: openapi, mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.20.EDGE-308-api-bid.13ea9f5c.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.20.EDGE-308-api-bid.13ea9f5c.tgz
Due: none

EDGE-308 fixing tests
  src/placement_controller/clients/k8s/fake_client.py
  src/placement_controller/clients/k8s/test_fake_client.py
  src/placement_controller/context.py
  src/placement_controller/core/types.py
  src/placement_controller/k8s/test_object_pool.py
  src/placement_controller/test_context.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.21.EDGE-308-api-bid.a1404590.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.21.EDGE-308-api-bid.a1404590.tgz
Due: none

Publish placement-controller-0.2.0-dev.22.main.cf37b45d.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.22.main.cf37b45d.tgz
Due: none

EDGE-308 support for pods and nodes
  src/placement_controller/clients/k8s/client_impl.py
Due: mypy, isort, flake8, black

EDGE-308 serialization fixes
  src/placement_controller/api/app.py
  src/placement_controller/resources/resource_managment.py
  src/placement_controller/resources/test_resource_management.py
Due: openapi, mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.24.EDGE-308-api-bid.02ba3258.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.24.EDGE-308-api-bid.02ba3258.tgz
Due: none

EDGE-308 extracting NodeInfo
  src/placement_controller/resources/node_info.py
  src/placement_controller/resources/placement.py
  src/placement_controller/resources/test_node.py
  src/placement_controller/resources/test_placement.py
  src/placement_controller/resources/test_resource_tracking.py
  src/placement_controller/resources/types.py
Due: mypy, isort, flake8, black

EDGE-308 ResourceMetrics
  src/placement_controller/api/model.py
  src/placement_controller/resources/resource_metrics.py
  src/placement_controller/resources/test_resource_metrics.py
  src/placement_controller/resources/types.py
Due: openapi, mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.26.EDGE-308-api-bid.93399b91.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.26.EDGE-308-api-bid.93399b91.tgz
Due: none

EDGE-308 ResourceMetrics in the context
  src/placement_controller/context.py
  src/placement_controller/resources/resource_managment.py
  src/placement_controller/resources/resource_metrics.py
  src/placement_controller/resources/test_resource_management.py
  src/placement_controller/resources/test_resource_metrics.py
  src/placement_controller/settings.py
  src/placement_controller/test_context.py
  src/placement_controller/test_pydantic_yaml.py
Due: mypy, isort, flake8, black

EDGE-308 ResourceMetrics implementation
  src/placement_controller/api/model.py
  src/placement_controller/resources/resource_metrics.py
  src/placement_controller/resources/test_resource_metrics.py
  src/placement_controller/test_context.py
  src/placement_controller/test_pydantic_yaml.py
Due: openapi, mypy, isort, flake8, black

EDGE-308 upgrade libraries
  pyproject.toml
  uv.lock
Due: none

EDGE-308 configuration fixes
  charts/placement-controller/README.md
  charts/placement-controller/values.yaml
  etc/config.yaml
  etc/kind-kind-cluster1.yaml
  etc/kind-kind-cluster2.yaml
  src/placement_controller/pydantic_yaml.py
  src/placement_controller/resources/resource_metrics.py
  src/placement_controller/test_pydantic_yaml.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.30.EDGE-308-api-bid.0da4ef83.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.30.EDGE-308-api-bid.0da4ef83.tgz
Due: none

EDGE-308 test fixes
  src/placement_controller/resources/test_resource_management.py
Due: mypy, isort, flake8, black

EDGE-308 import fixes
  src/placement_controller/resources/resource_tracking.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.31.EDGE-308-api-bid.bfd0ccb9.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.31.EDGE-308-api-bid.bfd0ccb9.tgz
Due: none

Publish placement-controller-0.2.0-dev.32.EDGE-308-api-bid.29562a1f.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.32.EDGE-308-api-bid.29562a1f.tgz
Due: none

Publish placement-controller-0.2.0-dev.33.main.df7528b8.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.33.main.df7528b8.tgz
Due: none

EDGE-287 orchestration logic sketch
  src/placement_controller/api/model.py
  src/placement_controller/core/application.py
  src/placement_controller/core/applications.py
  src/placement_controller/core/context.py
  src/placement_controller/core/fsm.py
  src/placement_controller/core/scheduling_queue.py
  src/placement_controller/core/test_scheduling_queue.py
  src/placement_controller/core/types.py
  src/placement_controller/jobs/__init__.py
  src/placement_controller/jobs/executor.py
  src/placement_controller/jobs/types.py
Due: openapi, mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.34.EDGE-287-typical.368b0b10.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.34.EDGE-287-typical.368b0b10.tgz
Due: none

EDGE-287 orchestration logic sketch
  src/placement_controller/core/applications.py
  src/placement_controller/core/context.py
  src/placement_controller/core/scheduling_queue.py
  src/placement_controller/jobs/executor.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.35.EDGE-287-typical.19cff13c.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.35.EDGE-287-typical.19cff13c.tgz
Due: none

EDGE-287 JobExecutor
  src/placement_controller/core/applications.py
  src/placement_controller/core/scheduling_queue.py
  src/placement_controller/jobs/executor.py
  src/placement_controller/jobs/test_executor.py
  src/placement_controller/jobs/types.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.36.EDGE-287-typical.9292cedd.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.36.EDGE-287-typical.9292cedd.tgz
Due: none

EDGE-287 Membership
  src/placement_controller/membership/__init__.py
  src/placement_controller/membership/test_watcher.py
  src/placement_controller/membership/types.py
  src/placement_controller/membership/watcher.py
Due: mypy, isort, flake8, black

EDGE-287: Scheduling Queue
  src/placement_controller/core/context.py
  src/placement_controller/core/fsm.py
  src/placement_controller/core/scheduling_queue.py
Due: mypy, isort, flake8, black
