Repository HIRO-MicroDataCenters-BV/placement-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi, generate_client, mypy, isort, flake8, black

openapi:
  name: openapi
  entry: uv run python ./tools/extract_openapi.py placement_controller.api.app:app --app-dir ./src --out ./packages/placement-api/openapi.yaml --app_version_file ./VERSION
  language: system
  pass_filenames: false

generate_client:
  name: generate client
  entry: openapi-python-client generate --overwrite --path ./packages/placement-api/openapi.yaml --meta=uv --output-path ./packages/placement-client --config=./tools/openapi-python-client.yaml --custom-template-path=./tools/templates
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system

isort:
  name: isort
  entry: uv run isort
  language: system

flake8:
  name: flake8
  entry: uv run flake8 --config ./.flake8
  language: system

black:
  name: black
  entry: uv run black
  language: system

EDGE-373 decision store to recognize the trace lines
  src/placement_controller/store/decision_store.py
Due: mypy, isort, flake8, black

EDGE-373 fixing unitests
  src/placement_controller/clients/placement/remote.py
  src/placement_controller/core/fsm.py
  src/placement_controller/core/test_applications.py
  src/placement_controller/jobs/placement_action.py
  src/placement_controller/jobs/test_bid_action.py
  src/placement_controller/jobs/test_bid_response_comparator.py
  src/placement_controller/jobs/test_decision_action.py
  src/placement_controller/resources/test_resource_management.py
  src/placement_controller/store/test_decision_store.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.10-dev.7.EDGE-373-placeme.9713646f.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.10-dev.7.EDGE-373-placeme.9713646f.tgz
Due: none

EDGE-373 combine local and remote traces
  src/placement_controller/api/model.py
  src/placement_controller/core/fsm.py
  src/placement_controller/core/test_fsm_base.py
  src/placement_controller/jobs/decision_action.py
Due: openapi, mypy, isort, flake8, black

EDGE-373 minor fixes
  src/placement_controller/jobs/test_placement_action.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.10-dev.8.EDGE-373-placeme.2c391cc6.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.10-dev.8.EDGE-373-placeme.2c391cc6.tgz
Due: none

Publish placement-controller-0.2.10-dev.9.EDGE-373-placeme.531193c5.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.10-dev.9.EDGE-373-placeme.531193c5.tgz
Due: none

EDGE-373 bumping libraries
  pyproject.toml
  uv.lock
Due: none

Publish placement-controller-0.2.10-dev.10.EDGE-373-placeme.49994c9e.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.10-dev.10.EDGE-373-placeme.49994c9e.tgz
Due: none

EDGE-373 upgrading and pinning dependencies due to CVE
  pyproject.toml
  uv.lock
Due: none

Publish placement-controller-0.2.10-dev.11.EDGE-373-placeme.217ae9a5.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.10-dev.11.EDGE-373-placeme.217ae9a5.tgz
Due: none

EDGE-373 fixing trace to json serialization
  src/placement_controller/store/decision_store.py
  src/placement_controller/store/test_decision_store.py
Due: mypy, isort, flake8, black

EDGE-373 sort decisions by timestamp
  src/placement_controller/jobs/placement_action.py
Due: mypy, isort, flake8, black

EDGE-373 increasing timestamp resolution
  src/placement_controller/resources/test_placement.py
  src/placement_controller/resources/test_resource_management.py
  src/placement_controller/resources/trace_log.py
  src/placement_controller/util/clock.py
  src/placement_controller/util/clock_impl.py
  src/placement_controller/util/mock_clock.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.10-dev.14.EDGE-373-placeme.03a94f24.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.10-dev.14.EDGE-373-placeme.03a94f24.tgz
Due: none

Publish placement-controller-0.2.10-dev.15.main.2661df6c.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.10-dev.15.main.2661df6c.tgz
Due: none

Publish placement-controller-0.2.11.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.11.tgz
Due: none

Upgrade to Python 3.14.2 and update dependencies
  .github/workflows/test.yaml
  Dockerfile
  packages/application-client/pyproject.toml
  packages/orchestrationlib-client/pyproject.toml
  packages/placement-client/pyproject.toml
  pyproject.toml
  src/placement_controller/api/app.py
  tools/version.sh
  uv.lock
Due: openapi, mypy, isort, flake8, black

Publish placement-controller-0.2.11-dev.1.main.8406fa19.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.11-dev.1.main.8406fa19.tgz
Due: none

fix: vulnerability
  pyproject.toml
Due: none

fix: change return type from CoreV1Event to EventsV1Event
  src/placement_controller/clients/k8s/client.py
Due: mypy, isort, flake8, black

fix: pass datetime object instead of ISO string for event_time
  src/placement_controller/clients/k8s/client.py
Due: mypy, isort, flake8, black

fix: update watcher_func parameter type to accept DynamicClient | ApiClient
  src/placement_controller/clients/k8s/client_impl.py
Due: mypy, isort, flake8, black

fix: add type: ignore for CustomObjectsApi assignment
  src/placement_controller/clients/k8s/client_impl.py
Due: mypy, isort, flake8, black

fix: update emit_internal callback signature to accept DynamicClient | ApiClient
  src/placement_controller/clients/k8s/client_impl.py
Due: mypy, isort, flake8, black

fix: update watch_internal to accept DynamicClient | ApiClient
  src/placement_controller/clients/k8s/client_impl.py
Due: mypy, isort, flake8, black

fix: add type: ignore[attr-defined] for CustomObjectsApi method calls
  src/placement_controller/clients/k8s/client_impl.py
Due: mypy, isort, flake8, black

fix: update DynamicClient-specific functions to accept DynamicClient | ApiClient signature
  src/placement_controller/clients/k8s/client_impl.py
Due: mypy, isort, flake8, black

fix: revert emit_internal to accept only ApiClient
  src/placement_controller/clients/k8s/client_impl.py
Due: mypy, isort, flake8, black

fix: resolve all mypy type errors from kubernetes library upgrade
  src/placement_controller/clients/k8s/client_impl.py
Due: mypy, isort, flake8, black

fix: reorder imports as per isort
  src/placement_controller/clients/k8s/client_impl.py
Due: mypy, isort, flake8, black

fix: remove unused Union import
  src/placement_controller/clients/k8s/client_impl.py
Due: mypy, isort, flake8, black

fix: upgrading black
  uv.lock
Due: none

Publish placement-controller-0.2.11-dev.15.mypy-errors.772bcfc7.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.11-dev.15.mypy-errors.772bcfc7.tgz
Due: none

Publish placement-controller-0.2.11-dev.16.main.ddb934f2.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.11-dev.16.main.ddb934f2.tgz
Due: none

skill: add library upgrade automation skill
  .opencode/skills/library-upgrade.md
Due: none

Publish placement-controller-0.2.11-dev.17.main.b7b0b33c.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.11-dev.17.main.b7b0b33c.tgz
Due: none

feat: add prometheus metrics client
  src/placement_controller/clients/metrics/__init__.py
  src/placement_controller/clients/metrics/fake_client.py
  src/placement_controller/clients/metrics/test_fake_client.py
  src/placement_controller/clients/metrics/types.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.11-dev.18.cost-monitoring.45daf5cb.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.11-dev.18.cost-monitoring.45daf5cb.tgz
Due: none

feat: simplify metrics client to only get_metric method
  src/placement_controller/clients/metrics/fake_client.py
  src/placement_controller/clients/metrics/test_fake_client.py
  src/placement_controller/clients/metrics/types.py
Due: mypy, isort, flake8, black

Path conditions:
  openapi: any of: ^src/placement_controller/api/ and \.py$
  generate_client: any of: packages/placement-api/openapi.yaml and \.py$
  mypy: any of: ^src/ and \.py$
  isort: any of: ^src/ and \.py$
  flake8: any of: ^src/ and \.py$
  black: any of: ^src/ and \.py$
