Repository HIRO-MicroDataCenters-BV/placement-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi, generate_client, mypy, isort, flake8, black

.pre-commit-config.yaml:

default_language_version:
  python: python3.12

default_stages: [commit, push]

repos:
- repo: https://github.com/norwoodj/helm-docs
  rev:  "v1.14.2"
  hooks:
    - id: helm-docs
      args:
        # Make the tool search for charts only under the `charts` directory
        - --chart-search-root=./charts

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    exclude: packages/placement-client/.*|.*\.md|README.md
  - id: end-of-file-fixer
    exclude: packages/placement-client/.*
  - id: check-yaml
    exclude: ./charts
  - id: check-added-large-files

- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.11.0
  hooks:
  - id: shellcheck

- repo: local
  hooks:
    - id: openapi
      name: openapi
      files: ^src/placement_controller/api/
      entry: uv run python ./tools/extract_openapi.py placement_controller.api.app:app --app-dir ./src --out ./packages/placement-api/openapi.yaml --app_version_file ./VERSION
      language: system
      types: [python]
      pass_filenames: false

- repo: local
  hooks:
    - id: generate_client
      name: generate client
      files: packages/placement-api/openapi.yaml
      entry: openapi-python-client generate --overwrite --path ./packages/placement-api/openapi.yaml --meta=uv --output-path ./packages/placement-client --config=./tools/openapi-python-client.yaml --custom-template-path=./tools/templates
      language: system
      types: [python]
      pass_filenames: false

- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: ^src/
      entry: uv run mypy
      language: system
      types: [python]

- repo: local
  hooks:
    - id: isort
      name: isort
      files: ^src/
      entry: uv run isort
      language: system
      types: [python]

- repo: local
  hooks:
    - id: flake8
      name: flake8
      files: ^src/
      entry: uv run flake8 --config ./.flake8
      language: system
      types: [python]

- repo: local
  hooks:
    - id: black
      name: black
      files: ^src/
      entry: uv run black
      language: system
      types: [python]

EDGE-287 Applications
  src/placement_controller/clients/k8s/client.py
  src/placement_controller/clients/k8s/fake_client.py
  src/placement_controller/core/applications.py
  src/placement_controller/core/context.py
  src/placement_controller/core/fsm.py
  src/placement_controller/core/scheduling_queue.py
  src/placement_controller/core/test_applications.py
  src/placement_controller/core/test_fsm.py
  src/placement_controller/jobs/decision_action.py
Due: mypy, isort, flake8, black

EDGE-287 controller endpoint configuration
  src/placement_controller/context_builder.py
  src/placement_controller/core/test_applications.py
  src/placement_controller/jobs/bid_action.py
  src/placement_controller/jobs/test_bid_action.py
  src/placement_controller/settings.py
  src/placement_controller/test_context.py
  src/placement_controller/test_pydantic_yaml.py
  src/placement_controller/zone/types.py
  src/placement_controller/zone/zone_api_factory.py
Due: mypy, isort, flake8, black

EDGE-287 Local vs Remote client option
  src/placement_controller/clients/placement/__init__.py
  src/placement_controller/clients/placement/local.py
  src/placement_controller/clients/placement/remote.py
  src/placement_controller/clients/placement/types.py
  src/placement_controller/context.py
  src/placement_controller/context_builder.py
  src/placement_controller/core/test_applications.py
  src/placement_controller/jobs/bid_action.py
  src/placement_controller/jobs/test_bid_action.py
  src/placement_controller/resources/fake_resource_management.py
  src/placement_controller/resources/resource_managment.py
  src/placement_controller/resources/test_resource_management.py
  src/placement_controller/resources/types.py
  src/placement_controller/test_context.py
  src/placement_controller/zone/types.py
  src/placement_controller/zone/zone_api_factory.py
Due: mypy, isort, flake8, black

EDGE-287 import fixes
  src/placement_controller/api/app.py
  src/placement_controller/clients/placement/local.py
Due: openapi, mypy, isort, flake8, black

EDGE-287 action logging
  src/placement_controller/clients/k8s/client.py
  src/placement_controller/core/applications.py
  src/placement_controller/core/context.py
  src/placement_controller/jobs/bid_action.py
  src/placement_controller/jobs/decision_action.py
  src/placement_controller/jobs/executor.py
  src/placement_controller/jobs/get_spec_action.py
  src/placement_controller/jobs/placement_action.py
Due: mypy, isort, flake8, black

EDGE-287 configuration update
  charts/placement-controller/README.md
  charts/placement-controller/values.yaml
  etc/config.yaml
  etc/kind-kind-cluster1.yaml
  etc/kind-kind-cluster2.yaml
Due: none

EDGE-287 list applications via kubernetes
  src/placement_controller/api/app.py
  src/placement_controller/clients/k8s/client.py
  src/placement_controller/clients/k8s/client_impl.py
  src/placement_controller/clients/k8s/fake_client.py
  src/placement_controller/core/applications.py
  src/placement_controller/core/fsm.py
Due: openapi, mypy, isort, flake8, black

EDGE-287 relaxing python version
  pyproject.toml
  uv.lock
Due: none

Publish placement-controller-0.2.0-dev.74.EDGE-287-typical.e09ef8a4.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.74.EDGE-287-typical.e09ef8a4.tgz
Due: none

EDGE-287 tracing log of decisions
  src/placement_controller/core/context.py
  src/placement_controller/core/scheduling_queue.py
  src/placement_controller/jobs/get_spec_action.py
Due: mypy, isort, flake8, black

EDGE-287 handle connection errors
  src/placement_controller/jobs/bid_action.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.76.EDGE-287-typical.b71ba03f.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.76.EDGE-287-typical.b71ba03f.tgz
Due: none

EDGE-287 save action result to context
  src/placement_controller/core/context.py
  src/placement_controller/core/fsm.py
Due: mypy, isort, flake8, black

EDGE-287 handle placement strategy correctly
  src/placement_controller/core/application.py
  src/placement_controller/core/applications.py
  src/placement_controller/core/fsm.py
  src/placement_controller/core/next_state_result.py
  src/placement_controller/core/scheduling_queue.py
  src/placement_controller/core/test_fsm.py
  src/placement_controller/core/test_scheduling_queue.py
  src/placement_controller/resource_fixture.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.78.EDGE-287-typical.c14d13b2.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.78.EDGE-287-typical.c14d13b2.tgz
Due: none

EDGE-287 emitting event
  src/placement_controller/clients/k8s/client.py
  src/placement_controller/clients/k8s/client_impl.py
  src/placement_controller/clients/k8s/fake_client.py
  src/placement_controller/core/application.py
  src/placement_controller/jobs/placement_action.py
Due: mypy, isort, flake8, black

EDGE-287: cleanup
  src/placement_controller/jobs/executor.py
  src/placement_controller/jobs/types.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.79.EDGE-287-typical.5bdc8dc1.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.79.EDGE-287-typical.5bdc8dc1.tgz
Due: none

Publish placement-controller-0.2.0-dev.80.EDGE-287-typical.73c0a65c.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.80.EDGE-287-typical.73c0a65c.tgz
Due: none

Publish placement-controller-0.2.0-dev.81.main.4331bab2.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.81.main.4331bab2.tgz
Due: none

EDGE-288 enhancements
  src/placement_controller/core/context.py
Due: mypy, isort, flake8, black

EDGE-288 making cluster 2 configuration more expensive
  etc/kind-kind-cluster2.yaml
Due: none

Publish placement-controller-0.2.0-dev.83.EDGE-288-ownersh.24ee59ad.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.83.EDGE-288-ownersh.24ee59ad.tgz
Due: none

EDGE-288 advanced FSM
  src/placement_controller/core/applications.py
  src/placement_controller/core/context.py
  src/placement_controller/core/fsm.py
  src/placement_controller/core/scheduling_queue.py
  src/placement_controller/core/scheduling_state.py
  src/placement_controller/core/test_fsm.py
  src/placement_controller/core/types.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.84.EDGE-288-ownersh.6da99677.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.84.EDGE-288-ownersh.6da99677.tgz
Due: none

EDGE-288 advanced FSM tests
  src/placement_controller/core/applications.py
  src/placement_controller/core/context.py
  src/placement_controller/core/scheduling_queue.py
  src/placement_controller/core/scheduling_state.py
  src/placement_controller/core/test_fsm.py
  src/placement_controller/core/types.py
  src/placement_controller/jobs/executor.py
  src/placement_controller/k8s/object_pool.py
Due: mypy, isort, flake8, black

EDGE-288 refactoring of context, fsm and actions
  src/placement_controller/core/application.py
  src/placement_controller/core/scheduling_state.py
  src/placement_controller/jobs/bid_action.py
  src/placement_controller/jobs/test_bid_action.py
Due: mypy, isort, flake8, black

EDGE-288 refactoring of context, fsm and actions
  src/placement_controller/jobs/decision_action.py
  src/placement_controller/jobs/test_decision_action.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.87.EDGE-288-ownersh.f156a495.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.87.EDGE-288-ownersh.f156a495.tgz
Due: none

EDGE-288 refactoring of context, fsm and actions
  src/placement_controller/core/context.py
  src/placement_controller/core/fsm.py
  src/placement_controller/core/scheduling_state.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.88.EDGE-288-ownersh.7ce2b995.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.88.EDGE-288-ownersh.7ce2b995.tgz
Due: none

EDGE-288 refactoring of context, fsm and actions
  src/placement_controller/core/context.py
  src/placement_controller/core/fsm.py
  src/placement_controller/core/test_fsm.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.89.EDGE-288-ownersh.9ec4b3ef.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.89.EDGE-288-ownersh.9ec4b3ef.tgz
Due: none

EDGE-288 refactoring of context, fsm and actions
  src/placement_controller/core/fsm.py
  src/placement_controller/core/test_fsm.py
Due: mypy, isort, flake8, black

EDGE-288 fixing the fake Event Api
  src/placement_controller/clients/k8s/client.py
  src/placement_controller/clients/k8s/fake_client.py
  src/placement_controller/core/test_fsm.py
Due: mypy, isort, flake8, black

EDGE-288 fsm tests
  src/placement_controller/core/fsm.py
  src/placement_controller/core/test_fsm.py
Due: mypy, isort, flake8, black

EDGE-288 fsm tests
  src/placement_controller/core/test_fsm.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.0-dev.92.EDGE-288-ownersh.0885d1e9.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.92.EDGE-288-ownersh.0885d1e9.tgz
Due: none

Publish placement-controller-0.2.0-dev.93.EDGE-288-ownersh.47e6e603.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.0-dev.93.EDGE-288-ownersh.47e6e603.tgz
Due: none

EDGE-288 fsm tests
  src/placement_controller/core/context.py
  src/placement_controller/core/fsm.py
  src/placement_controller/core/scheduling_state.py
  src/placement_controller/core/test_fsm.py
Due: mypy, isort, flake8, black
