Repository HIRO-MicroDataCenters-BV/placement-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi, generate_client, mypy, isort, flake8, black

.pre-commit-config.yaml:

default_language_version:
  python: python3.12

default_stages: [commit, push]

repos:
- repo: https://github.com/norwoodj/helm-docs
  rev:  "v1.14.2"
  hooks:
    - id: helm-docs
      args:
        # Make the tool search for charts only under the `charts` directory
        - --chart-search-root=./charts

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    exclude: packages/placement-client/.*|.*\.md|README.md
  - id: end-of-file-fixer
    exclude: packages/placement-client/.*
  - id: check-yaml
    exclude: ./charts
  - id: check-added-large-files

- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.11.0
  hooks:
  - id: shellcheck

- repo: local
  hooks:
    - id: openapi
      name: openapi
      files: ^src/placement_controller/api/
      entry: uv run python ./tools/extract_openapi.py placement_controller.api.app:app --app-dir ./src --out ./packages/placement-api/openapi.yaml --app_version_file ./VERSION
      language: system
      types: [python]
      pass_filenames: false

- repo: local
  hooks:
    - id: generate_client
      name: generate client
      files: packages/placement-api/openapi.yaml
      entry: openapi-python-client generate --overwrite --path ./packages/placement-api/openapi.yaml --meta=uv --output-path ./packages/placement-client --config=./tools/openapi-python-client.yaml --custom-template-path=./tools/templates
      language: system
      types: [python]
      pass_filenames: false

- repo: local
  hooks:
    - id: mypy
      name: mypy
      files: ^src/
      entry: uv run mypy
      language: system
      types: [python]

- repo: local
  hooks:
    - id: isort
      name: isort
      files: ^src/
      entry: uv run isort
      language: system
      types: [python]

- repo: local
  hooks:
    - id: flake8
      name: flake8
      files: ^src/
      entry: uv run flake8 --config ./.flake8
      language: system
      types: [python]

- repo: local
  hooks:
    - id: black
      name: black
      files: ^src/
      entry: uv run black
      language: system
      types: [python]

Publish placement-controller-0.2.4-dev.3.EDGE-332-set-req.391426e4.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.4-dev.3.EDGE-332-set-req.391426e4.tgz
Due: none

Publish placement-controller-0.2.4-dev.4.main.a8aa4692.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.4-dev.4.main.a8aa4692.tgz
Due: none

Publish placement-controller-0.2.5.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.5.tgz
Due: none

EDGE-332 deep wiki docs
  README.md
Due: none

Publish placement-controller-0.2.5-dev.1.deep-wiki-docs.a6a10d15.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.5-dev.1.deep-wiki-docs.a6a10d15.tgz
Due: none

EDGE-332 upgrade
  pyproject.toml
  uv.lock
Due: none

Publish placement-controller-0.2.5-dev.2.deep-wiki-docs.4958c834.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.5-dev.2.deep-wiki-docs.4958c834.tgz
Due: none

EDGE-332 upgrade and pin python
  Dockerfile
  pyproject.toml
  uv.lock
Due: none

Publish placement-controller-0.2.5-dev.3.deep-wiki-docs.ed69bfb4.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.5-dev.3.deep-wiki-docs.ed69bfb4.tgz
Due: none

EDGE-332 aligning with docker image version
  .github/workflows/test.yaml
Due: none

Publish placement-controller-0.2.5-dev.4.deep-wiki-docs.f65a059b.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.5-dev.4.deep-wiki-docs.f65a059b.tgz
Due: none

Publish placement-controller-0.2.5-dev.5.main.940172d4.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.5-dev.5.main.940172d4.tgz
Due: none

EDGE-332 adding new state unknown
  src/placement_controller/membership/types.py
  src/placement_controller/membership/watcher.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.5-dev.6.EDGE-336-improve.8bc47692.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.5-dev.6.EDGE-336-improve.8bc47692.tgz
Due: none

Publish placement-controller-0.2.5-dev.7.main.4dbbf199.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.5-dev.7.main.4dbbf199.tgz
Due: none

Publish placement-controller-0.2.6.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.6.tgz
Due: none

EDGE-289 adding service monitor
  charts/placement-controller/README.md
  charts/placement-controller/templates/service-monitor.yaml
  charts/placement-controller/values.yaml
Due: none

Publish placement-controller-0.2.6-dev.1.EDGE-289-dcp-dep.794a99ff.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.6-dev.1.EDGE-289-dcp-dep.794a99ff.tgz
Due: none

Publish placement-controller-0.2.6-dev.2.main.3b7ef0f6.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.6-dev.2.main.3b7ef0f6.tgz
Due: none

Publish placement-controller-0.2.7.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.7.tgz
Due: none

Publish placement-controller-0.2.7-dev.2.update-readme-fo.b39141b8.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.7-dev.2.update-readme-fo.b39141b8.tgz
Due: none

Publish placement-controller-0.2.7-dev.3.main.d76be2aa.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.7-dev.3.main.d76be2aa.tgz
Due: none

EDGE-348 improve logging
  src/placement_controller/jobs/bid_action.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.7-dev.4.EDGE-348-make-de.178ef046.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.7-dev.4.EDGE-348-make-de.178ef046.tgz
Due: none

Publish placement-controller-0.2.7-dev.5.main.9c8fb6d3.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.7-dev.5.main.9c8fb6d3.tgz
Due: none

Publish placement-controller-0.2.8.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.8.tgz
Due: none

EDGE-348 fixing api port mapping
  charts/placement-controller/README.md
  charts/placement-controller/templates/deployment.yaml
  charts/placement-controller/templates/ingress.yaml
  charts/placement-controller/templates/service-monitor.yaml
  charts/placement-controller/templates/service.yaml
  charts/placement-controller/values.yaml
Due: none

Publish placement-controller-0.2.7-dev.5.EDGE-348-make-de.e7d189bd.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.7-dev.5.EDGE-348-make-de.e7d189bd.tgz
Due: none

Publish placement-controller-0.2.8-dev.2.main.7f02a754.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.8-dev.2.main.7f02a754.tgz
Due: none

Publish placement-controller-0.2.9.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.9.tgz
Due: none

EDGE-348 better decision tracing - bid responses human readable
  src/placement_controller/api/model.py
  src/placement_controller/core/fsm.py
  src/placement_controller/jobs/decision_action.py
  src/placement_controller/jobs/test_bid_response_comparator.py
Due: openapi, mypy, isort, flake8, black

Publish placement-controller-0.2.7-dev.6.EDGE-348-make-de.23b7c6c9.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.7-dev.6.EDGE-348-make-de.23b7c6c9.tgz
Due: none

Publish placement-controller-0.2.9-dev.2.main.791dec73.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.9-dev.2.main.791dec73.tgz
Due: none

Publish placement-controller-0.2.10.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.10.tgz
Due: none

EDGE-373 TraceLog improvement
  src/placement_controller/resources/trace_log.py
Due: mypy, isort, flake8, black

EDGE-373 updating model
  packages/placement-api/openapi.yaml
  packages/placement-client/placement_client/models/__init__.py
  packages/placement-client/placement_client/models/bid_request_model.py
  packages/placement-client/placement_client/models/bid_response_model.py
  packages/placement-client/placement_client/models/namespaced_name_model.py
  packages/placement-client/placement_client/models/trace_log_row_model.py
  src/placement_controller/api/model.py
Due: openapi, mypy, isort, flake8, black

EDGE-373 placement update
  src/placement_controller/resources/node_info.py
  src/placement_controller/resources/placement.py
  src/placement_controller/resources/test_placement.py
Due: mypy, isort, flake8, black

EDGE-373 decision store interface update
  src/placement_controller/store/fake_decision_store.py
  src/placement_controller/store/types.py
Due: mypy, isort, flake8, black

Publish placement-controller-0.2.10-dev.4.EDGE-373-placeme.6bb5b45b.tgz
  helm-charts/index.yaml
  helm-charts/placement-controller-0.2.10-dev.4.EDGE-373-placeme.6bb5b45b.tgz
Due: none

EDGE-373 resource management fixes
  packages/placement-api/openapi.yaml
  packages/placement-client/placement_client/models/bid_response_model.py
  src/placement_controller/api/model.py
  src/placement_controller/context.py
  src/placement_controller/core/context.py
  src/placement_controller/core/scheduling_queue.py
  src/placement_controller/core/test_fsm_base.py
  src/placement_controller/core/test_fsm_failures.py
  src/placement_controller/core/test_fsm_scale.py
  src/placement_controller/resources/resource_managment.py
  src/placement_controller/resources/trace_log.py
Due: openapi, mypy, isort, flake8, black
